html {position: relative; min-height: 100%;}
.highlight pre code {display: block; white-space: pre; overflow-x: auto; word-wrap: normal;}
.footer {position: absolute; bottom: 0; width: 100%;}
.image-link, .image-link:hover, .image-link:focus {text-decoration: none;}
.btn.btn-square {border-radius: 0;}
