
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    {% include meta.html %}
    {% include header.html %}
</head>
<body id="page-top">
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-items">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </button>
           <h1><a class="navbar-brand page-scroll" href="{{ site.baseurl }}/">{{ site.name }} - {{ site.description }}</a></h1>
            <!-- p class="site-description">{{ site.description }}</p-->
        </div>

        <div class="collapse navbar-collapse" id="menu-items">
        <ul class="nav navbar-nav navbar-right" style="margin: 10px 0px;">
		<a target="_blank" href="mailto:amraabed@gmail.com" title="Email" style="color: black;">
		<span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i>
		<i class="fa fa-envelope fa-stack-1x fa-inverse"></i></span></a>
<a target="_blank" href="https://www.linkedin.com/in/amrabed" title="LinkedIn" style="color: black;"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-linkedin fa-stack-1x fa-inverse"></i></span></a><a target="_blank" href="https://github.com/amrabed" title="GitHub" style="color: black;"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-github-alt fa-stack-1x fa-inverse"></i></span></a><a target="_blank" href="https://scholar.google.com/citations?user=vdrgnAYAAAAJ" title="Google Scholar" style="color: black;"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-google-scholar fa-stack-1x fa-inverse"></i></span></a><a target="_blank" href="https://www.twitter.com/amr_abed" title="Twitter" style="color: black;"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a></ul></div>
        </div>
    </div>
</nav>
<aside class="bg-primary"></aside>
<div id="main" class="container">
   {{ content }}
</div>
<aside></aside>

<div>
    {% include footer.html %}
</div>

{% include analytics.html %}

</body>
</html>
