<!DOCTYPE html>
<html lang="en">
<head>
    {% raw %}<?php include "../_includes/header.php" ?>{% endraw %}
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }} - {{ site.description }}</title>
</head>
<body id="page-top">
{% raw %}<?php include "../_includes/navbar.php" ?>{% endraw %}{% include title.html %}
<aside class="mh-50 py-5 bg-primary container-fluid text-center"><h3>{{ page.title }}</h3></aside>
<section>{{ content }}</section>
<div>{% raw %}<?php include "../_includes/footer.php" ?>{% endraw %}{% include footer.html %}</div>
</body>
</html>