---
layout: default
---
<aside class="bg-primary">
    <div class="container-fluid text-center">
        <h3>{{ page.title }}</h3>
    </div>
</aside>

<article class="container">  
	<div>
    	{{ content }}
	</div>
	
	{% if post.tags.size > 0 %}
	<div>
		<ul>
			{% for tag in post.tags %}
			<li><label class="label label-default" style="margin-right: -5px">{{ tag }}</label></li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}

	<div class="text-muted">
		Written on {{ page.date | date: "%B %e, %Y" }}
	</div>

	{% include disqus.html %}
</article>
