---
layout: default
---

<div class="bg-primary container-fluid text-center">
	<h3>{{ page.title }}</h3>
</div>

<article class="container" style:"margin:10px">  
	<div>
    	{{ content }}
	</div>
	
	{% if page.tags.size > 0 %}
	<div>
		<ul class="list-inline">
			{% for tag in page.tags %}
			<li><label class="label label-default" style="margin-right: -5px">{{ tag }}</label></li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}

	<div class="text-muted">
		Written on {{ page.date | date: "%B %e, %Y" }}
	</div>

	{% include disqus.html %}
</article>
